{%extends 'market/base.html'%}
{%load static%}

{% block content %}

<title>Вход</title>
<div class="container-fluid" style="height:400px">
  <div class="col-lg-3"></div>
  <div class="col-lg-6" align="center">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <form role="form">
          <div class="form-group" align="center">
            <label form="Username" class="control-label">Логин</label>
            <input type="username" class="form-control" placeholder="Введите Ваш логин" {{ form.username }}
          </div>
          <div class="form-group">
            <label form="Password" class="control-label">Пароль</label>
            <input type="password" class="form-control" placeholder="Введите Ваш пароль" {{ form.password }}
                <input class="btn btn-success btn-sm" type="submit" value="Войти"/><input type="hidden" name="next" value="{{ next }}" />
                <button class="btn btn-success btn-sm" href="{% url 'password_reset' %}">Забыли пароль?</button></p>
          </div>
      </form>
  </div>
  <div class="col-lg-3"></div>
</div>
{%endblock%}