{% extends "market/base.html" %}
{% block content %}

<!-- ======= Logged_out Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-header" style="margin-top:30px">
          <h3>Вы вышли из учетной записи!</h3>
                    <a type="button" class="btn btn-outline-success" href="{%url 'login'%}">Войти в учетную запись</a>
                    <a type="button" class="btn btn-outline-success" href="{%url 'register'%}">Зарегистрироваться</a>
        </div>
      </div>
    </section>
    {%endblock%}