{%extends 'market/base.html'%}


{%block content%}
<title>О нас</title>
<div class="container-fluid" style="height:400px">
    <h2 align="center">О нас</h2>
    <div class="row">
        <div class="col-lg-1" align="center">
        </div>
        <div class="col-lg-10" align="left">
            Спасибо, что нашли время и зашли на эту страницу!
    Можно ли нам доверять и почему именно в нашем интернет-магазине вам стоит сделать покупку? Это действительно важные вопросы!
    Сейчас на нашем складе готово к отгрузке 133279 различных товаров – от подгузников до профессиональных перфораторов.
    Да, мы занимаемся оптовой и розничной продажей уже давно. 20 лет назад, когда мы начинали, в нашей стране не было сотовой связи и интернета. На смену одним технологиям приходили другие...
    Мир изменился – он стал быстрее и удобнее.
    Сегодня вы можете оформить заказ на сайте с доставкой или получить его в пункте выдачи заказов, а также посетить один из строительных магазинов Мастак.
    Мы привезем товар в любую точку Беларуси с удобной для вас формой оплаты или предоставим рассрочку до 36 месяцев на любой товар.
    Добро пожаловать в наш Большой магазин.
        </div>
        <div class="col-lg-1" align="center">
        </div>
    </div>
</div>
{%endblock%}
