{%extends 'market/base.html'%}
{%load static%}

{%block content%}
{%if user.is_authenticated%}
<form method="post" style="height: 800px;">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="container-fluid">
        <div class="col-lg-3" align="center">
        </div>
        <div class="col-lg-6" align="center">
            <div class="justify-content-md-center">
                <label form="text" class="control-label">Ваш отзыв</label>
                <input type="username" class="form-control" placeholder="Текст отзыва"{{ form.text }}
            </div>
            <br>
            <div class="form-group">
                <label>Ваша оценка</label>
                {{ form.mark }}
            </div>
            <div align="center" style="position:center">
                <input type="submit" value="Отправить"/><input align="center" type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </div>
</form>
{%else%}
<div align="center">
<h3>Для добавления отзыва войдите на сайт или зарегистрируйтесь</h3>
        <a style="background: green;color:white; size:10px" href="{%url 'login'%}">Войти</a>
        <a style="background: green;color:white; size:10px" href="{%url 'register'%}">Зарегистрироваться</a>
</div>
{%endif%}
{%endblock%}