{%extends 'market/base.html'%}


{%block content%}
<title>Бонусная программа</title>
<div class="container-fluid" style="height:auto">
    <h2 align="center">Бонусная программа</h2>
    <div class="row">
        <div class="col-lg-6" align="left">
<h3 align="center"><strong>Начисление бонусов:</strong></h3>
            <ul>
                <li>Бонусы будут начислены за покупки, оформленные по телефону или через корзину сайта. Бонусы можно получить, участвуя в конкурсах видеоотзывов и текстовых отзывов. 1 бонус = 1 рублю.</li>
                <li>Бонусы, подлежащие начислению, показываются в карточке товара, а итоговая сумма – в корзине при оформлении заказа.</li>
                <li>При покупке в сети магазинов Мастак Бонусы начисляются при предъявлении бонусной карты магазина. Карту можно приобрести на кассе, стоимость 1 рубль.</li>
                <li>Бонусы начисляются в течение 2-х рабочих дней после оплаты заказа; в течение 4 рабочих дней при доставке по Минску курьером; в течение 7 рабочих дней при доставке товара в ПВЗ Autolight Express / региональной доставке курьером Autolight Express.</li>
                <li>Бонусы начисляются Плательщику</li>
                <h3 align="center"><strong>Бонусы НЕ начисляются:</strong></h3>
                <li>При покупке акционных или уценённых товаров, а также товаров со скидкой по промокоду.</li>
                <li>При оплате в рассрочку.</li>
                <li>В случае поставки товаров на условиях отсрочки платежа.</li>
        </div>
            <div class="row">
        <div class="col-lg-6" align="left">
            <h3 align="center"><strong>Использование бонусов:</strong></h3>
            <ul>
                <li> Бонусами можно оплатить до 30 % стоимости покупки.</li>
                <li>Бонусы, начисленные юридическому лицу при оплате по безналичному расчету, можно использовать только в безналичных расчетах с рассматриваемым юридическим лицом.</li>
                <li>Бонусы сгорают при отсутствии покупок в течение 6 месяцев.</li>
                <li>Бонусы нельзя использовать при покупке товара в рассрочку.</li>
                <li>Бонусы нельзя использовать при покупке товара с использованием промокода или при покупке товара с подарком.</li>
                <li>Бонусы нельзя использовать при покупке подарочного сертификата.</li>

            </ul>
        </div>
{%endblock%}
