{%extends 'market/base.html'%}
{%load static%}

    {% block content %}
<title>Поиск по сайту</title>
<div class="conatainer-fluid" style="height:350px">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6" align="center">
            <h2 align="center">Поиск</h2>
            <form action="{% url 'search_results' %}" method="get">
                <input type="text" name="search_line" class="form-control" placeholder="Найти" aria-describedby="search-addon" /><br>
                <input type="submit" class="btn btn-success btn-sm" value="Поиск">
            </form>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>
    {% endblock %}