{%extends 'market/base.html'%}
{%load static%}

{%block content%}
<title>Каталог</title>
{%if products%}
<div class="container">
    <h2 align="center">Категории товаров</h2>
    <div class="row">
        {%for product in products%}
        <div class="col-lg-6" align="left">
                <h4><a href="{%url 'product' product_pk=product.pk%}">{{product.name}}</a></h4>
                <h5>{{product.description|slice:":256"}}...</h5>
                <a href="{%url 'product' product_pk=product.pk%}">Подробнее</a>
        </div>
            <div class="col-lg-4" align="center">
                {%if product.foto%}
                <img src='{{MEDIA_ROOT}}{{product.foto.url}}' alt="foto" width="200px"><br>
                <br>
                <br>
                {%else%}
                <h4 align="center">Изображение отсутствует</h4>
                {%endif%}
            </div>
        <div class="col-lg-2" align="left">
                <h4>Цена: <strong>{{product.price}} BYN</h4>
                    {%if product.count > 0%}
                           <img src="{% static 'foto/green_point.png'%}" width="10%"> В наличии
                    {%else%}
                                <img src="{% static 'foto/red_point.png'%}" width="6%"> Нет в наличии
                    {%endif%}
                    <br>
                    <br>
                    {%if user.is_authenticated%}
                            <form action="{% url 'cart_add' product.pk %}" method="post">
                                {{ cart_product_form }}
                                {% csrf_token %}
                                <input type="submit" value="Добавить в корзину" class="btn btn-success btn-sm">
                                <br>
                                </form>
                                <form action="{% url 'add_to_favorites' product.pk %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Добавить в Избранное" class="btn btn-success btn-sm">
                            </form>

                                <br>
                                <br>
                    {%endif%}
        </div>
        {%endfor%}
        </div>
    </div>
    <br>
</div>
{%else%}
<div class="container" style="height:400px">
    <h2 align="center">В этом разделе пока нет товаров</h2>
</div>
{%endif%}
{%endblock%}