{%extends 'market/base.html'%}
{%block content%}
 <!-- ======= About Section ======= -->
    <section class="inner-page" style="margin-top:30px">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>О DjangoMarket</h2>
        </div>
            <p align="justify">
                Можно ли нам доверять и почему именно в нашем интернет-магазине вам стоит сделать покупку? Это действительно важные вопросы!<br>
            DjangoMarket - это интернет-магазин, специализирующийся на продаже электороники.
            Мы работаем на всей территории Республики Беларусь и готовы доставить нашу технику в любую
            точку.<br>
            Мы работаем уже на протяжении 8 лет и накопили существенный опыт в продаже техники. Мы предлагаем
            Вам приобрести лучшие модели известнейших производителей смартфонов, ноутбуков и аксессуаров.
            У нас одни из лучших цен на все товары, потому как мы приобретаем товары напрямую у производителей
            без череды посредников.Мы привезем товар в любую точку Беларуси с удобной для вас формой оплаты
            или предоставим рассрочку до 12 месяцев на любой товар.
            Специалисты нашего call-центра готовы ответить на все интересующие Вас вопросы.<br>
            Добро пожаловать в DjangoMarket!
        </p>
      </div>
    </section><!-- End About Page -->
{%endblock%}
