{%extends 'market/base.html'%}
{%block content%}
 <!-- ======= About Section ======= -->
    <section class="inner-page" style="margin-top:30px">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Доставка</h2>
        </div>
          <h3 align="center"><strong>Общая информация</strong></h3>
            <ul>
           <li>Информация о стоимости доставки доступна в карточке товара и в корзине, подтверждается специалистом Отдела продаж при оформлении заказа. Срок исполнения всего заказа равен максимальному сроку доставки товара в заказе.
           <li> Доставка осуществляется с 8:00 до 22:00 или позже при согласовании с клиентом.
           <li> Курьер уведомляет Вас о своем выезде за 15–20 минут до приезда.
           <li> Время нахождения курьера по адресу не может превышать 30 минут.
            <li>Заказы весом менее 15 кг доставляются в первое помещение квартиры (частного дома).
            <li>Доставка заказа весом более 15 кг производится до подъезда.
            <li>Курьер поможет Вам осуществить подъем холодильника, стиральной машины или другого крупногабаритного тяжеловесного товара только по предварительной договоренности с менеджером отдела продаж при оформлении заказа.</li>
            <li>Курьер вместе с клиентом вскрывает упаковку, демонстрирует внешнее состояние и проверяет комплектность товара.</li>
            <li>Курьер может проверить работоспособность заказанного товара путем включения в сеть, если это не требует предварительной сборки.</li>
            <li>Курьер не обязан демонстрировать функциональные возможности изделия, пробовать в работе или проводить обучение, по его использованию.</li>
            <li>После проверки товара курьер заполняет гарантийный талон на изделие актуальной датой и ставит в нем печать организации.</li>
            <li>Вы ставите свою подпись в гарантийном талоне, подтверждая, что товар Вами осмотрен и претензий по внешнему виду и комплектности нет.</li>
            <li>После заполнения гарантийного талона необходимо произвести расчет. Расчет за товар производится только в белорусских рублях.</li>
            <li>Сотрудник службы доставки может проверить документ подтверждающий оплату.</li>
                </ul>
                <h3 align="center"><strong>Порядок приема-передачи товара</strong></h3>
             <ul>
                <li>Курьер вместе с клиентом вскрывает упаковку, демонстрирует внешнее состояние и проверяет комплектность товара.</li>
                <li>Курьер может проверить работоспособность заказанного товара путем включения в сеть, если это не требует предварительной сборки.</li>
                <li>Курьер не обязан демонстрировать функциональные возможности изделия, пробовать в работе или проводить обучение, по его использованию.</li>
                <li>После проверки товара курьер заполняет гарантийный талон на изделие актуальной датой и ставит в нем печать организации.</li>
                <li>Вы ставите свою подпись в гарантийном талоне, подтверждая, что товар Вами осмотрен и претензий по внешнему виду и комплектности нет.</li>
               <li>После заполнения гарантийного талона необходимо произвести расчет. Расчет за товар производится только в белорусских рублях.</li>
                <li>Сотрудник службы доставки может проверить документ подтверждающий оплату.</li>
            </ul>
        </div>
      </div>
    </section><!-- End About Page -->
{%endblock%}