{%extends 'market/base.html'%}
{%block content%}

          <!-- ======= Search Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">
        <div class="section-header" style="margin-top:30px">
          <h2>Поиск</h2>
            <div class="row gy-4">
            <form action="{% url 'search_results' %}" method="get">
                    <input type="text" name="search_line" class="form-control" placeholder="iPhone 13 Pro"/><br>
                    <input type="submit" class="btn btn-outline-success btn-md" value="Поиск">
            </form>
            </div>
        </div>
      </div>
    </section>
    {% endblock %}